<div class="container column">
  <div class="textSlog">
    FAQ
  </div>
  <div class="faqContainer">
    <div class="faqElement">
      <img class="faqImg" src="../../assets/plus.png" alt="show more">
      <div class="faqTextParag">
        Как ничего не забыть и не купить лишнего?
      </div>
    </div>
    <div class="faqElement">
      <img class="faqImg" src="../../assets/plus.png" alt="show more">
      <div class="faqTextParag">
        Как ничего не забыть и не купить лишнего?
      </div>
    </div>
    <div class="faqElement">
      <img class="faqImg" src="../../assets/plus.png" alt="show more">
      <div class="faqTextParag">
        Как ничего не забыть и не купить лишнего?
      </div>
    </div>
    <div class="faqElement">
      <img class="faqImg" src="../../assets/plus.png" alt="show more">
      <div class="faqTextParag">
        Как ничего не забыть и не купить лишнего?
      </div>
    </div>
    <div class="faqElement">
      <img class="faqImg" src="../../assets/plus.png" alt="show more">
      <div class="faqTextParag">
        Как ничего не забыть и не купить лишнего?
      </div>
    </div>
  </div>

</div>
