.faqElement {
  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(54, 43, 4, 0.26);
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: 65%;
  margin-bottom: 10px;

}

.faqContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column {
  flex-direction: column;
}

.faqTextParag {
  display: flex;
  font-family: "Open Sans script=all rev=2", "Adobe Blank";
  font-weight: 700;
  font-size: 19px;
  line-height: 30px;
  color: #232323;
  padding-left: 4rem;
  align-items: center;
}

.faqImg {

  padding-left: 25px
}

.more {
  display: flex;
  align-items: center;
}

.section {
  overflow: hidden;
  transform-style: flat;
}
.section.expand{
  transform-origin: top;
  max-height: 800px;
  height: auto;
  transition: all 3s ease;
}
.section.collapsed {

  transition: all 0.3s ease;
  max-height: 0;
}
.section p{
  margin-left: 9rem;
    margin-top: 0;
    margin-right: 1rem;
    text-align: justify;
}
