<div class="container column">
  <div class="kontact">
    <img src="./../../assets/images/Group_1.png" alt="" class="round1">
    <div class="textSlog">
      FAQ
    </div>
    <img src="./../../assets/images/Group_1.png" alt="" class="round2">
  </div>

  <div class="faqContainer">
    <div class="faqElement" *ngFor="let item of source">

      <div class="column" >
        <div class="more">
          <img (click)="item.toogle= !item.toogle" *ngIf="item.toogle" class="faqImg" src="../../assets/plus.png" alt="show more">
          <img (click)="item.toogle= !item.toogle" *ngIf="!item.toogle" class="faqImg" src="../../assets/minus.png" alt="show less">
          <div class="faqTextParag">
            {{item.title}}
          </div>
        </div>
        <br>
        <div class="section" [ngClass]="{'collapsed': item.toogle,'expand': !item.toogle}">
          <p>
           {{item.description}}
          </p>
        </div>

      </div>


    </div>
  </div>

</div>
