.faqElement {
  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(54, 43, 4, 0.26);
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: 65%;
  margin-bottom: 10px;

}

.faqContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column {
  flex-direction: column;
}

.faqTextParag {
  display: flex;
  font-family: "Open Sans", "Adobe Blank";
  font-weight: 700;
  font-size: 19px;
  line-height: 30px;
  color: #232323;
  padding-left: 4rem;
  align-items: center;
}

.faqImg {

  padding-left: 25px
}

.more {
  display: flex;
  align-items: center;
}

.section {
  overflow: hidden;
  transform-style: flat;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 30px;
  /* or 158% */


  color: #232323;
}

.section.expand {
  transform-origin: top;
  max-height: 800px;
  height: auto;
  transition: all 3s ease;
}

.section.collapsed {

  transition: all 0.3s ease;
  max-height: 0;
}

.section p {

  margin-left: 9rem;
  margin-top: 1rem;
  margin-right: 1rem;
  text-align: justify;
}

.container {
  background-image:
    url('../../assets/faq_background.png'),
    url('../../assets/faq_background2.png'),
    url('../../assets/images/Group_3.png'),
    url('../../assets/images/Group_2.png');
    background-position: top 6em left 9em, left 67em top 15em, top 15em left 7em, left 70em top 19em;
  background-repeat: no-repeat;
}
