
<div class="kontact">
  <img src="./../../assets/images/Group_1.png" alt="" class="round1">
  <div class="header">{{source.contacts}}</div>
  <img src="./../../assets/images/Group_1.png" alt="" class="round2">
</div>
<div class="mainInform">
  <div class="information">
    <div class="blockCont">
      <div class="contactInfo">{{source.contacts}} <br> {{source.email}}</div>
      <div class="imgBlock">
        <div class="comSoon">comming soon</div>
        <a href="#">
            <img src="./../../assets/images/app_store.png" alt="" class="appStr">
        </a>
      </div>
      <div class="img2">

        <a href="#">
            <img src="./../../assets/images/google-play-badge_1.png" alt="Google" class="imgGoogle">
        </a>

      </div>
    </div>
    <div class="blockInfo">
      <div class="citiesImg">
        <div class="city">г. Харьков</div>
        <img src="./../../assets/images/Group_1.png" alt="" class="round3">
      </div>
    </div>
  </div>
</div>


<footer>
  <a href="#" class="footerLink">BuySmth @2019</a>
  <a href="#" class="footerLink2">Политика конфиденциальности</a>
</footer>
