a {
  color: #232324;
  text-decoration: none;
}
.kontact {
  display: flex;
  margin: auto;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
}

.kontact .header {
  display: flex;
  margin: 0;
  text-align: center;
  font-family: Neucha;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 66px;
  color: #060606;
  margin-top: 30px;
}

.mainInform {
  display: flex;
  justify-content: space-between;
}
.information {
  display: flex;
  padding-top: 83px;
  margin: 0 auto;
  flex-direction: column;
}
.information .contactInfo {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 30px;
  color: #232323;
}
.information .imgBlock {
  display: flex;
  flex-direction: column;
}
.information .comSoon {
  font-family: Neucha;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  color: #A9A9A9;
  margin-left: 48px;
}
.appStr {
  margin-top: 5px;
  margin-left: 55px;
}
.imgGoogle {
  margin-top: 8px;
  width: 180px;
  height: 81px;
}
.blockInfo {
  margin: 15px 0;
}

.citiesImg {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blockCont {
  display: flex;
}
.round3 {
  margin-right: 13px;
  transform: rotate(171.39deg);
}
footer {
  text-align: center;
  width: 100%;
  bottom: 19px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 30px;
  display: flex;
  justify-content: space-evenly;
}
.footerLink {
  float: left;
}
.footerLink2 {
  float: right;
}
.center-text{
width: 100%;
}
.city{
  font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 19px;
line-height: 26px;
}
.center-text{
  margin-bottom: 30px;
}
.frameContainer{
  height: 160px;
}
