<div class="body">
  <div class="header" #header [ngClass]="{'shadow':offset>20}">
    <div class="headerBlock">
      <a (click)="scrollToComponent(aboutUS)" class="headerText">
        <div>
          {{source.aboutApp}}
        </div>
      </a>
      <a class="headerText" (click)="scrollToComponent(faq)">
        <div>
          FAQ
        </div>
      </a>
    </div>

    <a class="logo" href="#">
      <img src="../assets//logo.svg">
    </a>
    <div class="headerBlock">
      <a class="headerText" (click)="scrollToComponent(footer)">
        <div>
          {{source.contacts}}
        </div>
      </a>


      <div class="tes">
        <img src="../assets/lang/{{currentLang}}.png" class="langFlag" alt="English">
        <mat-form-field>
          <mat-select [(value)]="currentLang">
            <mat-option value="eng">
              <div (click)="changeLang('eng')" class="flagContainer">
                <img src="../assets/lang/eng.png" class="langFlag dropFlag" alt="English">
                <span>ENG</span>
              </div>
            </mat-option>
            <mat-option value="esp">
              <div (click)="changeLang('esp')" class="flagContainer">
                <img src="../assets/lang/esp.png" class="langFlag dropFlag" alt="Espaniol">
                <span>ESP</span>
              </div>
            </mat-option>
            <mat-option value="ua">
              <div (click)="changeLang('ua')" class="flagContainer">
                <img src="../assets/lang/ua.png" class="langFlag dropFlagUA" alt="Ukraine">
                <span>UA</span>
              </div>
            </mat-option>
            <mat-option value="ru">
              <div (click)="changeLang('ru')" class="flagContainer">
                <img src="../assets/lang/ru.png" class="langFlag dropFlagRU" alt="Russian">
                <span>RU</span>
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div>
    <div class="textSlog">
      <span>
        Buysmth
      </span>
      <span>
        {{source.title}}
      </span>
    </div>

  </div>
  <div #aboutUS>
    <app-scroller>
    </app-scroller>
  </div>
  <div #faq>
    <app-faq>
    </app-faq>
  </div>

  <div #footer>
    <app-footer [aboutUS]="aboutUS"></app-footer>
  </div>

</div>