.header {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
}

.headerText {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 27px;
  line-height: 27px;
  text-align: center;
  margin-right: 60px;
  color: #060606;
  margin-top: auto;
  margin-bottom: auto;
}

.headerBlock {
  display: flex;
}
