<div class="body">
  <div class="header">
    <div class="headerBlock">
      <a class="headerText">
        <div>
          О приложении
        </div>
      </a>
      <a class="headerText">
        <div>
          FAQ
        </div>
      </a>
    </div>

    <a href="#">
      <img src="../assets//logo.png">
    </a>
    <div class="headerBlock">
      <a class="headerText">
        <div>
            Контакты
        </div>
      </a>
      <a class="headerText">
        <div>
          RU
        </div>
      </a>
    </div>
  </div>
  <div>
    <div class="textSlog">
      <span>
        Buy smth
      </span>
      <span>
        По настоящему комфортный шопинг
      </span>
    </div>

  </div>
  <app-scroller>
    About us with scroller
  </app-scroller>
  <app-faq>
    </app-faq>

  <app-footer></app-footer>
</div>
