.header {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0px;
  z-index: 900;
  background-color: #fffcf1;
  transition: box-shadow 250ms;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: ease;
  transition-delay: 0s;
  box-shadow: none;
}

.shadow {
  transition: box-shadow 400ms;
  transition-property: box-shadow;
  transition-duration: 350ms;
  transition-timing-function: ease;
  transition-delay: 0s;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.07);
}

.headerText {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 27px;
  line-height: 27px;
  text-align: center;
  margin-right: 60px;
  color: #060606;
  margin-top: auto;
  margin-bottom: auto;
}

.headerBlock {
  display: flex;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ccc9be;

  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  right: -16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.langFlag {
  width: 20px
}

.flagContainer {
  width: 90px;
}

.dropdown-content .flagContainer {
  margin-bottom: 10px;
  display: -webkit-inline-box;
}

.flagContainer .langFlag {
  margin-right: 10px;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

.mat-form-field-wrapper{
  padding-bottom: 0px !important;
}
.mat-form-field-flex{
  margin-top: 25px;
}

.tes img {
  margin-top: 7px;
  margin-right: 10px;
}

.logo {
  display: flex;
}
.dropFlagUA{
  position: relative;
  top: 4px
}
.dropFlagRU{
  position: relative;
  top: 3px
}
.tes {
  display: flex;
  align-items: center
}
.center-text{
  margin-bottom: 30px;
}