<div class="body">
  <div class="header">
    <div class="headerBlock">
      <a (click)="scrollToComponent(aboutUS)" class="headerText">
        <div>
          About us
        </div>
      </a>
      <a class="headerText" (click)="scrollToComponent(faq)">
        <div>
          FAQ
        </div>
      </a>
    </div>

    <a href="#">
      <img src="../assets//logo.png">
    </a>
    <div class="headerBlock">
      <a class="headerText" (click)="scrollToComponent(footer)">
        <div>
          {{source.contacts}}
        </div>
      </a>
      <a class="headerText">
        <div class="dropdown">
          <span>ENG</span>
          <div class="dropdown-content">
            <p>ENG</p>
            <p>RU</p>
            <p>UA</p>
            <p>ESP</p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div>
    <div class="textSlog">
      <span>
        Buysmth
      </span>
      <span>
        {{source.title}}
      </span>
    </div>

  </div>
  <div #aboutUS>
    <app-scroller>
    </app-scroller>
  </div>
  <div #faq>
    <app-faq>
    </app-faq>
  </div>

  <div #footer>
    <app-footer></app-footer>
  </div>

</div>
