<div (swipeleft)="next(1)"
(swiperight)="next(-1)" >
<div class="phone">
    <img class="backgroundImg" src="../../assets/frama_{{currentPosition}}.svg" alt="">
</div>

  <div class="frameContainer">
    <p *ngIf="source.about[currentPosition-1].title" class="frameTitle">
      {{source.about[currentPosition-1].title}}
    </p>
    <p *ngIf="source.about[currentPosition-1].description" class="frameDescription">
        {{source.about[currentPosition-1].description}}
    </p>

  </div>
  <div class="buttonContainer">
      <div [ngClass]="{'notDispaly': currentPosition===1}" (click)="next(-1)" class="button"></div>
      <div [ngClass]="{'notDispaly': currentPosition===4}"(click)="next(1)" class="button"></div>
    </div>
</div>
