.frameTitle {
  font-family: Neucha;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  text-align: center;
  height: 48px;
  color: #FFFFFF;
}

.frameDescription {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.84;
  width: 243px;
  height: 84px;
}

.frameContainer {
  position: relative;
  top: -150px;
}

.backgroundImg {
  height: 487px;
}

.button {
  width: 20%;
}

.notDispaly {
  visibility: hidden;
}

.buttonContainer {
  position: relative;
  top: -214px;
  display: flex;
  justify-content: space-between;
}
