.frameTitle {
  font-family: 'Neucha', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  width: 16rem;
  padding-top: 10px;
  padding-left: 32px;
}

.frameDescription {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  color: #FFFFFF;
  width: 12rem;
  margin: auto;
  opacity: 0.84;
}

.frameContainer {
  position: relative;
  top: -225px;
}

.backgroundImg {
  height: 648px;
  width: 328px;

}


.button {
  width: 60px;
  height: 60px;
}

.notDispaly {
  visibility: hidden;
}

.buttonContainer {
  position: relative;
  top: -250px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
