<div class="container">
  <div class="backgroudImageLeft">
      <img  src="../../assets//left_backgroun.png" alt="">
      <img class="imagePhone" src="../../assets/slider/{{imageCount}}.png" alt="image">
  </div>

  <div class="rightBackgound">
      <div class="aboutUsText">
          <p class="textDescription"> Заканчивается молоко? Порвались последние носки? Случайно нашли 5 килограм картошки под
            столом? Обновите хранилище! Ведь теперь вы всегда знаете что у вас есть дома, в холодильнике или шкафу. Ведите не
            только список покупок, но и держите на карандаше, то что у вас уже есть.
          </p>
        </div>
  </div>

</div>
