.aboutUsText {
  background-image: url("../../assets/buble.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 9000;
  height: 400px !important;
  display: flex;
  background-position: 4%;
}

.textDescription {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  margin: 52px 0 0px 110px;
  font-size: 16px;
  display: none;
  width: 225px;
  text-align: center;
  color: #232323;
  margin-top: auto;
  margin-bottom: auto;
  display: -webkit-box;
}

.imagePhone {
  padding-top: 3%;
}

.backgroudImageRight {
  position: relative;
  left: 47%;
  top: 88%;
  z-index: 10;
}

.backgroudImageLeft {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}
.backgroudImageLeft img{
height: fit-content;
}
.rightBackgound {
  background-image: url("../../assets/right_backround.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 800;
  width: 50%;
  background-position-y: 200px;
  height: 890px;
}

.dot {
  height: 12px;
  width: 12px;
  margin-right: 17px;
  background-color: #FF5D24;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity 500ms ease;
}

.picked {
  opacity: 1;
  transition: opacity 500ms ease;
}

.dots {
  position: relative;
  top: 28rem;
  width: fit-content;
  left: 11rem;
}
