<div class="container">
  <div class="backgroudImageLeft">
    <img src="../../assets//left_backgroun.svg" alt="">
    <app-phone #position></app-phone>
  </div>
  <div class="rightBackgound">
    <div class="dots">
      <span [ngClass]="{'picked': position.position===1}" class="dot"></span>
      <span [ngClass]="{'picked': position.position===2}" class="dot"></span>
      <span [ngClass]="{'picked': position.position===3}" class="dot"></span>
      <span [ngClass]="{'picked': position.position===4}" class="dot"></span>
    </div>

    <div class="aboutUsText">
      <p class="textDescription">
        {{source.about[position.position - 1].about}}
      </p>
    </div>
  </div>

</div>
