<div class="container">
  <img class="backgroudImageLeft" src="../../assets//left_backgroun.png" alt="">
  <img class="imagePhone" src="../../assets/slider/{{imageCount}}.png" alt="image">
  <div class="aboutUsText">
    <p class="textDescription"> Заканчивается молоко? Порвались последние носки? Случайно нашли 5 килограм картошки под
      столом? Обновите хранилище! Ведь теперь вы всегда знаете что у вас есть дома, в холодильнике или шкафу. Ведите не
      только список покупок, но и держите на карандаше, то что у вас уже есть.
    </p>
  </div>
  <img class="backgroudImageRight" src="../../assets/right_backround.png" alt="">
</div>
