body {
  margin: 0;
}

.container {
  display: flex;
  justify-content: start;
}

.textSlog {
  font-family: 'Neucha', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 50px;
  line-height: 55px;

}

html {
  background-color: #fffcf1;
}

.round1 {
  margin-right: 33px;
  transform: rotate(171.1deg);
}

.round2 {

  margin-left: 41px;
}

.kontact {
  display: flex;
  margin: auto;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-bottom: 25px;

}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-form-field-infix {
  width: 50px !important;
}
